<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>Список профессий</title>
</head>
<body>
<div class="alert alert-primary" role="alert">
    <h1>Миссия Колонизация Марса</h1>
    <h4 style="opacity:.4">И на Марсе будут яблони цвести!</h4>
</div>
<div style="text-indent:10px;">
    {% if value == 'ul' or value == 'ol' %}
        <h3>Список профессий</h3>
        {% set prof_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
        'инженер по терраформированию', 'климатолог',
        'специалист по радиационной защите', 'астрогеолог', 'гляциолог',
        'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода',
        'киберинженер', 'штурман', 'пилот дронов'] %}
        <div class="text-block">
            <{{ value }}>
                {% for item in prof_list %}
                <li>{{ item }}</li>
                {% endfor %}
            <{{ value }}>
        </div>
    {% else %}
        <div>Не верные параметры</div>
    {% endif %}
</div>
</body>
</html>